{% extends '/layout.html.twig' %}

{% block content %}
    <h1>Eliminar año académico</h1>
    <div class="alert alert-danger">
        El año académico {{ academicYear.description}} será eliminado de la aplicación.
        La operación no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('listAcademicYears') }}" class="btn btn-info">Volver al listado</a>
        <button type="submit" name="confirmar" class="btn btn-danger">Confirmar
            eliminación</button>
    </form>
{% endblock %}

{% block title %}

{% endblock %}
