{% extends '/layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Nuevo a침o escolar</h1>
        {{ form_start(form, { 'attr': {'id': 'academicYearForm'} }) }}
        {{ form_widget(form) }}
        <div class="alert alert-danger d-none" id="dateError">La fecha de finalizaci칩n no puede ser anterior a la fecha de inicio.</div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{{ path('listAcademicYears') }}" class="btn btn-info">Volver al listado</a>
        {{ form_end(form) }}
    </div>
    <script>
        // Restricci칩n de fecha
        document.getElementById('academicYearForm').addEventListener('submit', function(event) {
            const startDate = document.querySelector('[name="academic_year[startDate]"]').value;
            const endDate = document.querySelector('[name="academic_year[endDate]"]').value;

            const startDateObj = new Date(startDate);
            const endDateObj = new Date(endDate);

            const errorDiv = document.getElementById('dateError');

            if (endDateObj < startDateObj) {
                event.preventDefault();
                errorDiv.classList.remove('d-none');
            } else {
                errorDiv.classList.add('d-none');
            }
        });
    </script>
{% endblock %}

{% block title %}
    Nuevo a침o escolar
{% endblock %}
