{% extends '/layout.html.twig' %}

{% block content %}
    <h1>Eliminar grupo</h1>
    <div class="alert alert-danger">
        El grupo {{ group.name}} ser치 eliminado de la aplicaci칩n.
        La operaci칩n no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('listGroups') }}" class="btn btn-info">Volver al listado</a>
        <button type="submit" name="confirmar" class="btn btn-danger">Confirmar
            eliminaci칩n</button>
    </form>
{% endblock %}

{% block title %}

{% endblock %}
