{% extends 'layout.html.twig' %}

{% block title %}Proyely{% endblock %}

{% block content %}
    <h1>Proyely</h1>
    <h2>¿Qué es?</h2>
    <div class="container">
        <p>PROYELY es una aplicación diseñada para abordar la gestión y automatización del proceso de asignación
            de proyectos propuestos para el alumnado</p>
    </div>
{% endblock %}
