{% extends 'layout.html.twig' %}

{% block title %}Proyely{% endblock %}

{% block content %}
    <h1>Proyely</h1>
    <div class="card">
        <h2 class="card-title">¿Qué es?</h2>
        <p class="card-body">PROYELY es una aplicación diseñada para abordar la gestión y automatización del proceso de asignación
            de proyectos propuestos para el alumnado.</p>
    </div>
{% endblock %}
