{% extends 'layout.html.twig' %}
{% block title %}Importar Alumnos{% endblock %}
{% block content %}
    <h1>Importar Alumnos</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csvFile">Archivo CSV:</label>
            <input type="file" id="csvFile" name="csvFile" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Importar</button>
    </form>
{% endblock %}