{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Estudiantes del grupo</h1>

    <table class="table table-bordered table-hover table-stripped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Nota</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.mark ? null : "No Asignada"}}</td>
                <th><a href=""><i class="fa-solid fa-pencil"></i></a></th>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay estudiantes asignados a este profesor</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}