{% extends 'base.html.twig' %}

{% block body %}
    {% include 'nav.html.twig' %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-error">{{ message }}</div>
    {% endfor %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock %}
