{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
    {% if project.id is null %}
        <h1>Datos del nuevo proyecto </h1>
    {% else %}
        <h1>Modificar datos del proyecto</h1>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

{#  <a href="{{path('project_delete', {'serial': project.serial})  }}">Eliminar</a> #}