{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Nuevo proyecto</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{{ path('listProject') }}" class="btn btn-info">Volver al listado</a>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}
