{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Estudiantes</h1>

    <table class="table table-bordered table-hover table-stripped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Grupo</th>
            <th>Nota</th>
            <th>Proyecto</th>
            <th>Usuario</th>
            <th>Roles</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.mark ? null : "No Asignada"}}</td>
                <td>{{ student.mark ? null : "No Asignado"}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="{# path('modifyStudent', {'id': student.id}) #}" class="btn btn-info btn-sm">Editar</a></td>
                <td><a href="{# path('deleteStudent', {'id': student.id}) #}" class="btn btn-danger btn-sm">Eliminar</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay estudiantes asignados a este profesor</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}